<!-- This is the user account view -->

<ion-view view-title="<img class='title-image' src='img/logo.png' style='width: 94px;' />">
  <ion-content class="account">
		<div class="list">
		  <div class="item item-divider"></div>

	    <a class="item item-avatar" href="#">
	      <img src="img/ajam.jpg">
	      <h2>Ajam</h2>
	      <p>I wanna reset♫</p>
	    </a>

		  <div class="item item-divider"></div>

		  <a class="item item-icon-left" href="#">
				<i class="icon ion-ios-heart assertive"></i>
		    My favourite
		  </a>

		  <div class="item item-divider"></div>

		  <a class="item item-icon-left" href="#">
				<i class="icon ion-social-usd calm"></i>
		    My VIP coins
		  </a>
		  <a class="item item-icon-left" href="#">
				<i class="icon ion-social-bitcoin calm"></i>
		    My coins
		  </a>

		  <div class="item item-divider"></div>

		  <a class="item item-icon-left" href="#">
				<i class="icon ion-ios-gear positive"></i>
		    Settings
		  </a>
	    <ion-toggle class="item item-icon-left" ng-model="nightMode.nightModeOn">
				<i class="icon ion-ios-moon dark"></i>
	      Night Mode
	    </ion-toggle>

		</div>
  </ion-content>
</ion-view>
